$base: #f938ab;
$blue: #012b4b;
$oneSpace: 15px;
$oneSmallSpace: 2px;

$minWidth: 660px;
$minMaxWidth: 559px;

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 425px;

  margin: 0;
  @media (max-width: 767px) {
    padding-top: 0;
  }

  a.headline {
    display: block;
    margin-bottom: $oneSpace;
  }

  div.sub-headline {
    font-size: 24px;
    vertical-align:middle;
    color: $blue;
  }

  span.glyphicon a {
    margin-left: 5px;
    vertical-align: text-bottom;
  }


  font-style: normal;
  font-size: 120%;
  font-family: Arial, sans-serif !important;

  .bold {
    font-weight: bold;
  }

  a {
    color: $blue;
    &:hover, &:focus {
      color: $blue;
    }
    font-family: Arial, sans-serif !important;
    text-decoration: none;
    background-color: transparent;
  }

  header {
    .headline {
      text-decoration: none;
    }
    nav.navbar {
      margin-bottom: 0;
    }
  }

  button.navbar-toggle {
    background-color: black;
    margin-top: -70px;
    span.icon-bar {
      background-color: white;
    }
  }


  .content {

    font-size: 150%;

    .fullscreen-picture {
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      img {
        filter: drop-shadow(5px 5px 5px $blue);
      }
    }

    .inner-content {
      padding-top: 0.5em;
      padding-left: $oneSmallSpace;
      padding-bottom: 1em;

      @media (min-width: $minWidth) {
        padding-left: 2*$oneSpace;
      }

    }

    .navbar-collapse.collapse,.hidden-sm.hidden-md.hidden-lg {

      margin-top: -20px;

      .nav {
        & > li > a {
          position: relative;
          display: block;
          line-height: 20px;
          color: $blue;

          padding-left: 3px;

          text-align: left;

          @media (min-width: 768px) {
            padding: 10px 15px;
          }

          &:active, &:focus {
            background-color: transparent;
            box-shadow: 1px 2px #eee;
          }

          &:hover {
            box-shadow: 1px 2px #eee;
            background-color: transparent;
            color: $blue;
          }
        }
        background-color: white;
        -webkit-padding-start: 0;
      }
    }
  }
}

.padding {
  padding: 5px;
}

.padding-left {
  padding-left: 5px;
}

.padding-right {
  padding-right: 5px;
}

.padding-bottom {
  padding-bottom: 10px;
}

*:focus {
  outline: none;
}

img {
  vertical-align: middle;
  border: 0;
  width: 100%;
  display: block;
}

footer {
  clear: both;
  display: block;
  background-color: $blue;
  color: #dddddd;
  font-size: 80%;

  a {
    color: #dddddd;
  }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .container {
  padding: $oneSmallSpace;

  @media (min-width: $minWidth) {
    padding: 5px 2*$oneSpace;
  }
}

.margin-zero {
  margin: 0;
}

.padding-zero {
  padding: 0;
}

.row {
  margin: 0;
}